*.bak
*.pdf
*DatabaseAdministration/SSI Packages/ControlFlowTraining/
*DatabaseAdministration/SSI Packages/DataFlowTraining/
*DatabaseAdministration/SSI Packages/SSISDemoFiles/
*HandsOnProjects/Timesheet Migration/TimesheetMigration/
*HandsOnProjects/Timesheet Migration/TimesheetMigrationV2/
