*.bak
*.pdf
*DatabaseAdministration/SSI Packages/ControlFlowTraining/
*DatabaseAdministration/SSI Packages/DataFlowTraining/
*DatabaseAdministration/SSI Packages/SSISDemoFiles/
*Hands-on Projects/Timesheet Migration/
*HandsOnProjects/Timesheet Migration/TimesheetMigration/.vs
/HandsOnProjects/Timesheet Migration/TimesheetMigration/TimesheetMigration/TimesheetMigration.dtproj
